body {
    margin: 5%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F7F7F7;
}

img {
    float: right;
    height: 300px;
}

h1, h2 {
    font-weight: bold;
}